.c-benefits {
    background-color: #fafafd;
    &__list {
    	@media (min-width: 576px) {
			display:flex;
			flex-direction:row;
			align-items:space-evenly;
		}
    }

	&__item {
		padding: 2 * $gutter;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		margin:#{2*$gutter} auto;
		background-color:#FFF;
		border-radius:4*$gutter;
		border:2px solid #F4F4F4;
		text-align:center;
		width:calc(100vw - #{18 * $gutter});
		height:calc(100vw - #{18 * $gutter});

		img {
			display:inline-block;
			width:9 * $gutter;
			margin-bottom:2 * $gutter;
			@media (min-width: 576px) {
				margin-bottom: 4 * $gutter;
			}
		}

		@media (min-width: 576px) {
				width:250px;
				height:250px;
		}

		&:nth-of-type(1) {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='224' height='211' viewBox='0 0 224 211'%3E%3Cdefs%3E%3Crect id='a' width='224' height='211' rx='24'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23F5FCFB' d='M113.126 90.094c-17.467 15.612-35.775 31.476-55.138 38.512-19.365 7.037-37.647 1.202-55.076-18.266-17.07-18.88-33.285-51.392-40.247-84.098-6.962-33.311-.434-58.918 15.646-72.734 16.08-13.816 47.31-18.54 78.752-10.255 31.44 8.286 90.513 31.548 100.712 61.35 10.2 29.803-27.539 69.288-44.65 85.491z' mask='url(%23b)' transform='rotate(-5 59.698 35.317)'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-position:top left ;
			baackground-size:150% auto;
			background-repeat:no-repeat;
		}
		&:nth-of-type(2) {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='224' height='211' viewBox='0 0 224 211'%3E%3Cdefs%3E%3Crect id='a' width='224' height='211' rx='24'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23F5FCFB' d='M218.106 71.736c-16.554 14.784-33.908 29.802-52.303 36.414-18.397 6.613-35.82.98-52.488-17.626C96.99 72.481 81.42 41.465 74.655 10.305c-6.77-31.735-.667-56.078 14.575-69.158 15.242-13.08 44.94-17.44 74.895-9.416 29.955 8.024 86.268 30.423 96.102 58.833 9.834 28.41-25.908 65.826-42.12 81.172z' mask='url(%23b)' transform='rotate(-170 166.912 19.256)'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-position:top right ;
			baackground-size:150% auto;
			background-repeat:no-repeat;
		}
	}
	&__text {
		  font-family: MuseoSansCyrl;
		  font-size: 16px;
		  font-weight: 500;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 1.38;
		  letter-spacing: normal;
		  text-align: center;
		  color: #313038;
	}
}