.c-footer {
	background-color:#f3f3f8;
	padding-left:2 * $gutter;
	padding-right:2 * $gutter;
	padding-bottom:2 * $gutter;
	&__items {
		display:flex;
		flex-direction:column;
		@media (min-width: 576px) {
			flex-direction:row;
			justify-content:space-between;
			align-items:center;
		}
	}
	&__text {
		  font-family: MuseoSansCyrl;
		  font-size: 18px;
		  font-weight: 300;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 1.33;
		  letter-spacing: normal;
		  color: #757e8e;
	}
	&__copy {
			  font-family: MuseoSansCyrl;
			  font-size: 12px;
			  font-weight: 300;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: normal;
			  letter-spacing: normal;
			  color: #757e8e;
		  }
	&__item {
		margin-top: 3 * $gutter;
		a {
			display:block;
			text-decoration:none;
			font-family: MuseoSansCyrl;
			font-size: 24px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.33;
			letter-spacing: normal;
			color: #0c203b;
			}
		&:nth-of-type(3) {
			@media (min-width: 576px) {
				order:-1;
				width:15%;
			}
		}
		&:nth-of-type(1) {
			@media (min-width: 576px) {
				order:2;
				width:30%;
			}
		}
		&:nth-of-type(2) {
			@media (min-width: 576px) {
				order:3;
				width:30%;
			}
		}
		}
 		
	}
